@-webkit-keyframes fading {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1); }
  20% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  70% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1); } }
@keyframes fading {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1); }
  20% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  70% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1); } }
@-webkit-keyframes fadingCenter {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; } }
@keyframes fadingCenter {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; } }
@-webkit-keyframes myRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    clip: rect(0 100px 100px 0); }
  50% {
    clip: rect(0 150px 150px 0); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    clip: rect(0 100px 100px 0); } }
@keyframes myRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    clip: rect(0 100px 100px 0); }
  50% {
    clip: rect(0 150px 150px 0); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    clip: rect(0 100px 100px 0); } }
@-webkit-keyframes myRotate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    clip: rect(0 100px 240px 0); }
  50% {
    clip: rect(0 0 240px 0); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    clip: rect(0 100px 240px 0); } }
@keyframes myRotate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    clip: rect(0 100px 240px 0); }
  50% {
    clip: rect(0 0 240px 0); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    clip: rect(0 100px 240px 0); } }
* {
  padding: 0;
  margin: 0; }

.container {
  width: 300px;
  height: 300px;
  border: 5px solid rgba(255, 0, 12, 0.1);
  position: absolute;
  top: 50px;
  left: 100px;
  border-radius: 50%; }
  .container:after, .container:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
    border-radius: 50%; }
  .container:after {
    border: 5px solid rgba(255, 0, 12, 0.5);
    clip: rect(0 100px 100px 0);
    -webkit-animation: myRotate 2.8s linear infinite;
            animation: myRotate 2.8s linear infinite; }
  .container:before {
    border: 5px solid rgba(255, 0, 12, 0.4);
    clip: rect(0 100px 240px 0);
    -webkit-animation: myRotate2 1.4s linear infinite;
            animation: myRotate2 1.4s linear infinite; }
  .container .hex {
    height: 40px;
    width: 69.282px;
    position: absolute;
    background-color: rgba(255, 0, 12, 0.2); }
    .container .hex:before, .container .hex:after {
      content: "";
      width: 0;
      height: 0;
      border-width: 20px 34.641px;
      border-color: transparent;
      border-style: solid;
      position: absolute;
      left: 0; }
    .container .hex:before {
      border-bottom-color: rgba(255, 0, 12, 0.2);
      bottom: 100%; }
    .container .hex:after {
      border-top-color: rgba(255, 0, 12, 0.2);
      top: 100%; }
  .container .hex:nth-child(7) {
    top: 130px;
    left: 115.359px;
    opacity: 0;
    -webkit-animation: fadingCenter 2.8s 1.0s infinite;
            animation: fadingCenter 2.8s 1.0s infinite; }
  .container .hex:nth-child(1) {
    -webkit-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
    top: 65.6699px;
    left: 78.218px;
    -webkit-animation: fading 2.8s -0.28s infinite;
            animation: fading 2.8s -0.28s infinite; }
  .container .hex:nth-child(2) {
    -webkit-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
    top: 130.0px;
    left: 41.077px;
    -webkit-animation: fading 2.8s -0.08s infinite;
            animation: fading 2.8s -0.08s infinite; }
  .container .hex:nth-child(3) {
    -webkit-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
    top: 194.3301px;
    left: 78.218px;
    -webkit-animation: fading 2.8s 0.12s infinite;
            animation: fading 2.8s 0.12s infinite; }
  .container .hex:nth-child(4) {
    -webkit-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
    top: 194.3301px;
    left: 152.5px;
    -webkit-animation: fading 2.8s 0.32s infinite;
            animation: fading 2.8s 0.32s infinite; }
  .container .hex:nth-child(5) {
    -webkit-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
    top: 129.99996px;
    left: 189.64099px;
    -webkit-animation: fading 2.8s 0.52s infinite;
            animation: fading 2.8s 0.52s infinite; }
  .container .hex:nth-child(6) {
    -webkit-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
    top: 65.66657px;
    left: 152.49916px;
    -webkit-animation: fading 2.8s 0.72s infinite;
            animation: fading 2.8s 0.72s infinite; }

/*# sourceMappingURL=index.css.map */